@media screen and (max-width: 1248px) {
  body {
    background-image: none;
    padding-right: 0;
  }

  #bottomBar,
  .bottom-bar {
    width: 87%;
  }

  #scrollRight {
    right: -81px;
  }
}

@media screen and (max-width: 992px) {
  #bottomBar,
  .bottom-bar {
    width: 80%;
  }
}

@media screen and (max-width: 652px) {
  #bottomBar,
  .bottom-bar {
    width: 75%;
  }
}