html, body {
  overflow-y: hidden !important;
  height: 100vh !important;
  max-height: 100vh !important;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FFE6CC;
  margin: 0;
  font-family: sans-serif;
}

.grid {
  max-height: 156px;
}

.ripple {
  position: absolute;
  width: 200px;
  height: 200px;
  left: -70px;
  top: -70px;
  background: rgba(120, 89, 91, 0.1);
  border-radius: 50%;
  transform: scale(1);
  animation: rippleEffect 2.0s linear;
}

@keyframes rippleEffect {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(3);
    opacity: 0;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
  gap: 0px;
  margin-top: -200px;
}

.grid div div {
  width: 30px;
  height: 30px;
  background-color: #2D2A2A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  color: #FFE6CC;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.grid div[data-layer="2"],
.mini-grid div[data-layer="2"],
.grid div[data-layer="3"],
.mini-grid div[data-layer="3"] {
  position: relative;
}

.grid div[data-layer="2"] div,
.mini-grid div[data-layer="2"] div,
.grid div[data-layer="3"] div,
.mini-grid div[data-layer="3"] div {
  position: absolute;
}

.grid div[data-layer="1"] div[data-audio="1"] {
  margin: 35px 0px 0px 35px;
}

.grid div[data-layer="1"] div[data-audio="2"] {
  margin: 0px 35px 35px 35px;
}

.grid div[data-layer="1"] div[data-audio="3"] {
  margin: 35px 35px 0px 0px;
}

.grid div[data-layer="1"] div[data-audio="4"] {
  margin: 35px 35px 35px 0px;
}

.grid div[data-layer="1"] div[data-audio="6"] {
  margin: 35px 0px 35px 35px;
}

.grid div[data-layer="1"] div[data-audio="7"] {
  margin: 0px 0px 35px 35px;
}

.grid div[data-layer="1"] div[data-audio="8"] {
  margin: 35px 35px 0px 35px;
}

.grid div[data-layer="1"] div[data-audio="9"] {
  margin: 0px 35px 35px 0px;
}

.grid div[data-layer="2"] div[data-audio="1"] {
  bottom: -20px;
  right: -20px;
}

.grid div[data-layer="2"] div[data-audio="2"] {
  left: 35px;
  bottom: 35px;
}

.grid div[data-layer="2"] div[data-audio="3"] {
  left: -20px;
  bottom: -20px;
}

.grid div[data-layer="2"] div[data-audio="4"] {
  top: 35px;
  right: 35px;
}

.grid div[data-layer="2"] div[data-audio="6"] {
  top: 35px;
  left: 35px;
}

.grid div[data-layer="2"] div[data-audio="7"] {
  top: -20px;
  right: -20px;
}

.grid div[data-layer="2"] div[data-audio="8"] {
  top: 35px;
  left: 35px;
}

.grid div[data-layer="2"] div[data-audio="9"] {
  top: -20px;
  left: -20px;
}

.grid div[data-layer="3"] div[data-audio="1"] {
  bottom: 25px;
  right: 25px;
}

.grid div[data-layer="3"] div[data-audio="2"] {
  left: 35px;
  bottom: 95px;
}

.grid div[data-layer="3"] div[data-audio="3"] {
  left: 25px;
  bottom: 25px;
}

.grid div[data-layer="3"] div[data-audio="4"] {
  top: 35px;
  right: 95px;
}

.grid div[data-layer="3"] div[data-audio="6"] {
  top: 35px;
  left: 95px;
}

.grid div[data-layer="3"] div[data-audio="7"] {
  top: 25px;
  right: 25px;
}

.grid div[data-layer="3"] div[data-audio="8"] {
  top: 95px;
  left: 35px;
}

.grid div[data-layer="3"] div[data-audio="9"] {
  top: 25px;
  left: 25px;
}

.grid .droplet {
  height: 60px;
  width: 60px;
  border: 20px solid #2D2A2A;
  background-color: #FFE6CC;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.droplet:hover {
  background-color: #FFF3E0;
}

.grid div[data-audio="0"],
.mini-grid div[data-audio="0"] {
  opacity: 0;
}

.bottom-bar {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 30px;
  width: 90%;
}

#scrollLeft {
  left: 1px;
  border-radius: 9px 0 0 9px;
}

#scrollRight {
  right: -53px;
  border-radius: 0 9px 9px 0;
}

#scrollLeft,
#scrollRight {
  cursor: pointer;
  position: absolute;
  width: 35px;
  height: 202px;
  background-color: rgba(45, 45, 42, 0.2);
  border: none;
  color: white;
  bottom: 1px;
  z-index: 20;
}

#bottomBar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 30px;
  overflow-x: auto;
  width: 88%;
  height: 162px;
  padding: 20px 40px;
  background: #FFF3E0;
  border: 1px solid #FED3B5;
  border-radius: 10px;
  gap: 10px;
  white-space: nowrap;
}

#bottomBar .mini-grid {
  border: 2px dotted #CCC9C8;
  background-color: #2D2A2A;
  border-radius: 100%;
  padding: 30px 25px;
  border-top: none;
  border-bottom: none;
}

.relative {
  position: relative;
}

.mini-grid:hover .delBtn {
  display: block;
}

.delBtn {
  background: #6B484A;
  display: none;
  color: white;
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  padding-left: 9px;
  padding-bottom: 5px;
  padding-top: 2px;
  height: 18px;
  width: 18px;
  border-radius: 100%;
}

.new-sequence-button {
  display: flex;
  position: fixed;
  bottom: 215px;
  left: 30px;
  width: auto;
  padding: 10px 20px;
  background: #6B484A;
  text-decoration: none;
  font-weight: 200;
  font-size: 17px;
  color: white;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.new-sequence-button:hover {
  background: #471F21;
}

.mini-grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
  gap: 2px;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
}

.mini-grid:hover {
  background-color: black;
}


.mini-grid div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.mini-grid .mini-droplet {
  width: 20px;
  height: 20px;
}

.mini-grid div[data-layer="1"][data-audio="1"] {
  margin: 5px 0px 0px 5px;
}

.mini-grid div[data-layer="1"][data-audio="2"] {
  margin: 0px 5px 5px 5px;
}

.mini-grid div[data-layer="1"][data-audio="3"] {
  margin: 5px 5px 0px 0px;
}

.mini-grid div[data-layer="1"][data-audio="4"] {
  margin: 5px 5px 5px 0px;
}

.mini-grid div[data-layer="1"][data-audio="6"] {
  margin: 5px 0px 5px 5px;
}

.mini-grid div[data-layer="1"][data-audio="7"] {
  margin: 0px 0px 5px 5px;
}

.mini-grid div[data-layer="1"][data-audio="8"] {
  margin: 5px 5px 0px 5px;
}

.mini-grid div[data-layer="1"][data-audio="9"] {
  margin: 0px 5px 5px 0px;
}

.mini-grid div[data-layer="2"][data-audio="1"] {
  bottom: -5px;
  right: -5px;
}

.mini-grid div[data-layer="2"][data-audio="2"] {
  left: 5px;
  bottom: 5px;
}

.mini-grid div[data-layer="2"][data-audio="3"] {
  left: -5px;
  bottom: -5px;
}

.mini-grid div[data-layer="2"][data-audio="4"] {
  top: 5px;
  right: 5px;
}

.mini-grid div[data-layer="2"][data-audio="6"] {
  top: 5px;
  left: 5px;
}

.mini-grid div[data-layer="2"][data-audio="7"] {
  top: -5px;
  right: -5px;
}

.mini-grid div[data-layer="2"][data-audio="8"] {
  top: 5px;
  left: 5px;
}

.mini-grid div[data-layer="2"][data-audio="9"] {
  top: -5px;
  left: -5px;
}

.mini-grid div[data-layer="3"][data-audio="1"] {
  bottom: -5px;
  right: -5px;
}

.mini-grid div[data-layer="3"][data-audio="2"] {
  left: 5px;
  bottom: 10px;
}

.mini-grid div[data-layer="3"][data-audio="3"] {
  left: -5px;
  bottom: -5px;
}

.mini-grid div[data-layer="3"][data-audio="4"] {
  top: 5px;
  right: 10px;
}

.mini-grid div[data-layer="3"][data-audio="6"] {
  top: 5px;
  left: 10px;
}

.mini-grid div[data-layer="3"][data-audio="7"] {
  top: -5px;
  right: -5px;
}

.mini-grid div[data-layer="3"][data-audio="8"] {
  top: 10px;
  left: 5px;
}

.mini-grid div[data-layer="3"][data-audio="9"] {
  top: -5px;
  left: -5px;
}

/* Hide scrollbar for better aesthetics */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tooltip {
  position: absolute;
  background: rgba(71, 31, 33, 0.9);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  max-width: 350px;
  pointer-events: none;
  height: auto;
  /* Initially prevent it from blocking hover */
}

.tooltip.visible {
  display: block;
  pointer-events: auto;
  /* Allow interactions when visible */
}

.tooltip h4 {
  margin: 0;
  font-size: 14px;
}

.tooltip a {
  color: #DBE8D1;
}

.tooltip p,
.tooltip li {
  margin: 5px 0 0;
  font-size: 12px;
}

.tooltip-container {
  display: inline-block;
  position: relative;
}

.hover-target {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1248px) {
  body {
    background-image: none;
    padding-right: 0;
  }

  #bottomBar,
  .bottom-bar {
    width: 87%;
  }

  #scrollRight {
    right: -81px;
  }
}

@media screen and (max-width: 992px) {
  #bottomBar,
  .bottom-bar {
    width: 80%;
  }
}

@media screen and (max-width: 652px) {
  #bottomBar,
  .bottom-bar {
    width: 75%;
  }

  #scrollRight {
    right: -27%;
  }

  .ripple {
    height: 133px;
    width: 133px;
    left: -47px;
    top: -47px;
  }

  .grid {
    margin-top: -200px;
  }
  
  .grid div div {
    width: 20px;
    height: 20px;
  }
  
  .grid div[data-layer="1"] div[data-audio="1"] {
    margin: 23px 0px 0px 23px;
  }
  
  .grid div[data-layer="1"] div[data-audio="2"] {
    margin: 0px 23px 23px 23px;
  }
  
  .grid div[data-layer="1"] div[data-audio="3"] {
    margin: 23px 23px 0px 0px;
  }
  
  .grid div[data-layer="1"] div[data-audio="4"] {
    margin: 23px 23px 23px 0px;
  }
  
  .grid div[data-layer="1"] div[data-audio="6"] {
    margin: 23px 0px 23px 23px;
  }
  
  .grid div[data-layer="1"] div[data-audio="7"] {
    margin: 0px 0px 23px 23px;
  }
  
  .grid div[data-layer="1"] div[data-audio="8"] {
    margin: 23px 23px 0px 23px;
  }
  
  .grid div[data-layer="1"] div[data-audio="9"] {
    margin: 0px 23px 23px 0px;
  }
  
  .grid div[data-layer="2"] div[data-audio="1"] {
    bottom: -14px;
    right: -14px;
  }
  
  .grid div[data-layer="2"] div[data-audio="2"] {
    left: 23px;
    bottom: 23px;
  }
  
  .grid div[data-layer="2"] div[data-audio="3"] {
    left: -14px;
    bottom: -14px;
  }
  
  .grid div[data-layer="2"] div[data-audio="4"] {
    top: 23px;
    right: 23px;
  }
  
  .grid div[data-layer="2"] div[data-audio="6"] {
    top: 23px;
    left: 23px;
  }
  
  .grid div[data-layer="2"] div[data-audio="7"] {
    top: -14px;
    right: -14px;
  }
  
  .grid div[data-layer="2"] div[data-audio="8"] {
    top: 23px;
    left: 23px;
  }
  
  .grid div[data-layer="2"] div[data-audio="9"] {
    top: -14px;
    left: -14px;
  }
  
  .grid div[data-layer="3"] div[data-audio="1"] {
    bottom: 17px;
    right: 17px;
  }
  
  .grid div[data-layer="3"] div[data-audio="2"] {
    left: 23px;
    bottom: 63px;
  }
  
  .grid div[data-layer="3"] div[data-audio="3"] {
    left: 17px;
    bottom: 17px;
  }
  
  .grid div[data-layer="3"] div[data-audio="4"] {
    top: 23px;
    right: 63px;
  }
  
  .grid div[data-layer="3"] div[data-audio="6"] {
    top: 23px;
    left: 63px;
  }
  
  .grid div[data-layer="3"] div[data-audio="7"] {
    top: 17px;
    right: 17px;
  }
  
  .grid div[data-layer="3"] div[data-audio="8"] {
    top: 63px;
    left: 23px;
  }
  
  .grid div[data-layer="3"] div[data-audio="9"] {
    top: 17px;
    left: 17px;
  }
  
  .grid .droplet {
    height: 40px;
    width: 40px;
    border: 15px solid #2D2A2A;
    background-color: #FFE6CC;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  #bottomBar {
    left: 0;
    width: 100%;
    border-radius: 0;
  }

  #scrollLeft {
    left: -30px;
  }

  #scrollLeft,
  #scrollRight {
    border-radius: 0;
  }
}

@media screen and (max-width: 520px) {
  .ripple {
    height: 106.4px;
    width: 106.4px;
    left: -37.6px;
    top: -37.6px;
  }

  .grid {
    margin-top: -160px;
  }
  
  .grid div div {
    width: 16px;
    height: 16px;
  }
  
  .grid div[data-layer="1"] div[data-audio="1"] {
    margin: 18.4px 0px 0px 18.4px;
  }
  
  .grid div[data-layer="1"] div[data-audio="2"] {
    margin: 0px 18.4px 18.4px 18.4px;
  }
  
  .grid div[data-layer="1"] div[data-audio="3"] {
    margin: 18.4px 18.4px 0px 0px;
  }
  
  .grid div[data-layer="1"] div[data-audio="4"] {
    margin: 18.4px 18.4px 18.4px 0px;
  }
  
  .grid div[data-layer="1"] div[data-audio="6"] {
    margin: 18.4px 0px 18.4px 18.4px;
  }
  
  .grid div[data-layer="1"] div[data-audio="7"] {
    margin: 0px 0px 18.4px 18.4px;
  }
  
  .grid div[data-layer="1"] div[data-audio="8"] {
    margin: 18.4px 18.4px 0px 18.4px;
  }
  
  .grid div[data-layer="1"] div[data-audio="9"] {
    margin: 0px 18.4px 18.4px 0px;
  }
  
  .grid div[data-layer="2"] div[data-audio="1"] {
    bottom: -11.2px;
    right: -11.2px;
  }
  
  .grid div[data-layer="2"] div[data-audio="2"] {
    left: 18.4px;
    bottom: 18.4px;
  }
  
  .grid div[data-layer="2"] div[data-audio="3"] {
    left: -11.2px;
    bottom: -11.2px;
  }
  
  .grid div[data-layer="2"] div[data-audio="4"] {
    top: 18.4px;
    right: 18.4px;
  }
  
  .grid div[data-layer="2"] div[data-audio="6"] {
    top: 18.4px;
    left: 18.4px;
  }
  
  .grid div[data-layer="2"] div[data-audio="7"] {
    top: -11.2px;
    right: -11.2px;
  }
  
  .grid div[data-layer="2"] div[data-audio="8"] {
    top: 18.4px;
    left: 18.4px;
  }
  
  .grid div[data-layer="2"] div[data-audio="9"] {
    top: -11.2px;
    left: -11.2px;
  }
  
  .grid div[data-layer="3"] div[data-audio="1"] {
    bottom: 13.6px;
    right: 13.6px;
  }
  
  .grid div[data-layer="3"] div[data-audio="2"] {
    left: 18.4px;
    bottom: 50.4px;
  }
  
  .grid div[data-layer="3"] div[data-audio="3"] {
    left: 13.6px;
    bottom: 13.6px;
  }
  
  .grid div[data-layer="3"] div[data-audio="4"] {
    top: 18.4px;
    right: 50.4px;
  }
  
  .grid div[data-layer="3"] div[data-audio="6"] {
    top: 18.4px;
    left: 50.4px;
  }
  
  .grid div[data-layer="3"] div[data-audio="7"] {
    top: 13.6px;
    right: 13.6px;
  }
  
  .grid div[data-layer="3"] div[data-audio="8"] {
    top: 50.4px;
    left: 18.4px;
  }
  
  .grid div[data-layer="3"] div[data-audio="9"] {
    top: 13.6px;
    left: 13.6px;
  }
  
  .grid .droplet {
    height: 32px;
    width: 32px;
    border: 12px solid #2D2A2A;
    background-color: #FFE6CC;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  #bottomBar {
    left: 0;
    width: 100%;
    border-radius: 0;
  }

  #scrollLeft {
    left: -24px;
  }

  #scrollLeft,
  #scrollRight {
    border-radius: 0;
  }
}

@media screen and (max-width: 520px) {
  #bottomBar,
  .bottom-bar {
    width: 79%;
  }

  #scrollRight {
    right: -51px;
  }
}

@media screen and (max-width: 400px) {
  #bottomBar,
  .bottom-bar {
    width: 71%;
  }
}

/* New Sequence Styles */
#new_sequence .grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(7, auto);
  gap: 0px;
  margin-top: 100px;
}

#new_sequence .grid div div {
  width: 36px;
  height: 36px;
  border: 2px solid #2D2A2A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  background-color: #FFE6CC;
  border-radius: 50%;
  transition: background-color 0.3s;
}

#new_sequence .grid div[data-layer="2"],
#new_sequence .grid div[data-layer="3"] {
  position: relative;
}

#new_sequence .grid div[data-layer="2"] div,
#new_sequence .grid div[data-layer="3"] div {
  position: absolute;
}

#new_sequence .grid div[data-layer="1"][data-audio="1"] div {
  margin: 30px 0px 0px 30px;
}

#new_sequence .grid div[data-layer="1"][data-audio="2"] div {
  margin: 0px 30px 30px 30px;
}

#new_sequence .grid div[data-layer="1"][data-audio="3"] div {
  margin: 30px 30px 0px 0px;
}

#new_sequence .grid div[data-layer="1"][data-audio="4"] div {
  margin: 30px 30px 30px 0px;
}

#new_sequence .grid div[data-layer="1"][data-audio="6"] div {
  margin: 30px 0px 30px 30px;
}

#new_sequence .grid div[data-layer="1"][data-audio="7"] div {
  margin: 0px 0px 30px 30px;
}

#new_sequence .grid div[data-layer="1"][data-audio="8"] div {
  margin: 30px 30px 0px 30px;
}

#new_sequence .grid div[data-layer="1"][data-audio="9"] div {
  margin: 0px 30px 30px 0px;
}

#new_sequence .grid div[data-layer="2"][data-audio="1"] div {
  bottom: -15px;
  right: -15px;
}

#new_sequence .grid div[data-layer="2"][data-audio="2"] div {
  left: 30px;
  bottom: 30px;
}

#new_sequence .grid div[data-layer="2"][data-audio="3"] div {
  left: -15px;
  bottom: -15px;
}

#new_sequence .grid div[data-layer="2"][data-audio="4"] div {
  top: 30px;
  right: 30px;
}

#new_sequence .grid div[data-layer="2"][data-audio="6"] div {
  top: 30px;
  left: 30px;
}

#new_sequence .grid div[data-layer="2"][data-audio="7"] div {
  top: -15px;
  right: -15px;
}

#new_sequence .grid div[data-layer="2"][data-audio="8"] div {
  top: 30px;
  left: 30px;
}

#new_sequence .grid div[data-layer="2"][data-audio="9"] div {
  top: -15px;
  left: -15px;
}

#new_sequence .grid div[data-layer="3"][data-audio="1"] div {
  bottom: 45px;
  right: 45px;
}

#new_sequence .grid div[data-layer="3"][data-audio="2"] div {
  left: 30px;
  bottom: 105px;
}

#new_sequence .grid div[data-layer="3"][data-audio="3"] div {
  left: 45px;
  bottom: 45px;
}

#new_sequence .grid div[data-layer="3"][data-audio="4"] div {
  top: 30px;
  right: 105px;
}

#new_sequence .grid div[data-layer="3"][data-audio="6"] div {
  top: 30px;
  left: 105px;
}

#new_sequence .grid div[data-layer="3"][data-audio="7"] div {
  top: 45px;
  right: 45px;
}

#new_sequence .grid div[data-layer="3"][data-audio="8"] div {
  top: 105px;
  left: 30px;
}

#new_sequence .grid div[data-layer="3"][data-audio="9"] div {
  top: 45px;
  left: 45px;
}

#new_sequence .grid .droplet {
  height: 60px;
  width: 60px;
  border: 20px solid #2D2A2A;
  background-color: #FFE6CC;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

#new_sequence .droplet:hover {
  background-color: #FFF3E0;
}

#new_sequence .grid div[data-audio="0"] {
  z-index: -100;
  opacity: 0;
}

#new_sequence .grid div.clicked {
  background-color: black;
}

#new_sequence .save-button {
  cursor: pointer;
  margin-top: 220px;
  width: auto;
  padding: 10px 20px;
  background: #6B484A;
  text-decoration: none;
  font-weight: 200;
  font-size: 17px;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s;
}

#new_sequence .save-button:hover {
  background: #471F21;
}
